/* 
 * SPDX-FileCopyrightText:  2020  Elen Eisendle
 * SPDX-License-Identifier: EUPL-1.2
 */ 

@import url('/css/fonts.css');
$font-family-base:'Open Sans';
$headings-font-family:'Quicksand';
$enable-grid-classes:true;
$secondary:#ef9d26;
$primary:#427588;
$info: #888;
$success:#28a745;
$danger:#d72638;
$light:#ececec;
$dark:#1a1a1a;
$enable-gradients:true;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;
$enable-shadows:true;
$enable-responsive-font-sizes:true;

.catbox {
    min-height: 4rem;
}

main {
    padding-top: 52px;
}

nav {
    max-height: 60px;
}

.fsrow {
    margin-left: 0;
    margin-right: 0;
    max-height: 80vh;
    // width: 98%;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
