// SPDX-FileCopyrightText:  2020  Elen Eisendle
// SPDX-License-Identifier: EUPL-1.2

// external web fonts
// try to use the local ones, else fetch from the website

/* baloo-2-regular - latin-ext_latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo 2 Regular'), local('Baloo2-Regular'),
       url('../fonts/baloo-2-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-2-v1-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-2-v1-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
