// SPDX-FileCopyrightText:  2020  Elen Eisendle
// SPDX-License-Identifier: EUPL-1.2

$tdbc-typography-variants: h1, h2, h3, h4;

@each $type in $tdbc-typography-variants {
  #{$type},
  .tdbc-#{$type} {
    font-weight: $tdbc-strong-font-weight;
    line-height: 1.15;
    margin-bottom: 0.65em;
  }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1,
.tdbc-h1 {
  font-size: $tdbc-h1-font-size;
  font-size: unquote("min(max(3rem, 5vw), #{$tdbc-h1-font-size})");
  color: $tdbc-h1-color;
}

h2,
.tdbc-h2 {
  font-size: $tdbc-h2-font-size;
  font-size: unquote("min(max(2.5rem, 5vw), #{$tdbc-h2-font-size})");
  color: $tdbc-h2-color;
}

h3,
.tdbc-h3 {
  font-size: $tdbc-h3-font-size;
}

h4,
.tdbc-h4 {
  font-size: $tdbc-h4-font-size;
  color: tdbc-color(gray);
}

p,
li {
  font-size: $tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
  font-family: $tdbc-body-font-family;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $tdbc-strong-font-weight;
}

a:not(.tdbc-button) {
  color: $tdbc-link-color;
}

pre,
code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-weight: bold;
}

code {
  display: inline-flex;
  padding: 0.15em;
  background-color: tdbc-color(light);
  font-size: 0.75em;
  color: tdbc-color(gray);
  border: 1px solid scale-color(tdbc-color(gray), $lightness: 50%);
  border-radius: 2px;
  line-height: 1.1;
}

pre {
  margin: 0;
  display: inline-block;

  code {
    display: block;
    padding: 0 1rem;
    white-space: pre-wrap;
    font-size: 0.85rem;
    line-height: 1.4;
    overflow-x: auto;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid tdbc-color(secondary);
  color: tdbc-color(gray);

  &,
  p {
    font-size: $tdbc-h4-font-size;
  }

  + * {
    margin-top: 3rem;
  }
}

.tdbc-lead {
  font-size: $tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.tdbc-list-unstyled {
  list-style: none;
  padding: 0;
}
